a {
    text-decoration: none;
    color: inherit;
}


.hero-section {
    position: relative;
    min-height: 85vh;
    background: linear-gradient(rgba(6, 11, 17, 0.4), #060b11), 
                url('https://unsplash.com') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 5%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 2px;
    color: #ffffff;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    font-size: 14px;
    font-weight: 500;
    color: #a0a5ad;
    transition: color 0.3s;
}

.nav-links a:hover, .nav-links a.active {
    color: #ffffff;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-actions a {
    color: #a0a5ad;
    font-size: 16px;
}

.nav-actions a:hover {
    color: #ffffff;
}

.btn-join {
    background-color: #d97706;
    color: #fff !important;
    padding: 8px 18px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: background 0.3s;
}

.btn-join:hover {
    background-color: #b45309;
}
